path{
    fill:none;
    stroke:black;
    pointer-events:all;
}
    #d1:hover {  fill: green;}
    #d2:hover {  fill: blue;}
    #d2:hover {  fill: blue;}
    #d3:hover {  fill: red;}
    #d4:hover {  fill: blue;}
    #d5:hover {  fill: red;}
    #d6:hover {  fill: blue;}
    #d7:hover {  fill: red;}
    #d8:hover {  fill: blue;}
    #d9:hover {  fill: red;}
    #d10:hover {  fill: blue;}
    #d11:hover {  fill: red;}
    #d12:hover {  fill: blue;}
	